#inicio {
    padding: 40px 5%;
}

#inicio .page-width {
    display: flex;
    align-items: center;
    gap: 90px;
}

#sobre-mim h1 {
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

#sobre-mim span {
    color: #ff0a54;
    display: block;
    font-size: 42px;
}

#sobre-mim #apresentacao {
    margin: 40px 0;
}

#sobre-mim p {
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    margin: 20px 0;
    text-align: justify;
}

#img-inicio img{
    height: 480px;
    width: 300px;
    border-radius: 50px;
}

@media screen and (max-width: 910px){
    #inicio .page-width {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (max-width: 770px){
    #inicio p {
        font-size: 12px;
    }
}