* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif; 
}

body  {
    background-color: #000;
}

html {
    scroll-behavior: smooth; 
}

.page-width {
    max-width: 1280px;
    margin: 0 auto;
}


h2.titulo-page {
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo-page span {
    color: #ff0a54;

}

.btn-contato button {
    padding: 10px 40px;
    background-color: #ff0a54;
    font-size: 18px;
    font-weight: 600;
    border-radius: 30px;
    border: 0;
    transition: 0.2s;
    color: #000;
}

button:hover {
    transform: scale(1.05);
}
