#tecnologias {
    padding: 40px 5%;
}

#tecnologias-content {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-top: 10px;
}

.tecnologias-content-box {
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
    width: 100%;
    height: 350px;
}

.tecnologias-content-box:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px;
}

.tecnologias-content-box i {
    font-size: 70px;
    color: #ff0a54;
}

.tecnologias-content-box h3 {
    font-size: 28px;
    margin: 15px 0;
    text-align: center;
}

.icone {
    text-align: center;
}

@media screen and (max-width: 850px){
    section#tecnologias{
        padding: 10%;
    }

    #tecnologias-content {
        display: flex;
        flex-direction: column;
    }

    .tecnologias-content-box {
        margin-top: 10px;
    }

    #tecnologias-content {
        display: flex;
        align-items: center;
        gap: 60px;
        margin-top: 10px;
    }
}